@model Vidly.Models.DbModels.
<h1>@Model.Name</h1>
<br />  
<li>Genre: @Model.Genres.Name</li>
<li>Release Date: @Model.Releasedate</li>
<li>Added Date: @Model.Addeddate</li>
<li>Number In Stock: @Model.Stock</li>
